# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Dependencies
# -----------------------------
node_modules/

# -----------------------------
# Build Output
# -----------------------------
dist/
build/
.out/
.next/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# Logs
# -----------------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------
# Cache
# -----------------------------
.cache/
.eslintcache
.stylelintcache

# -----------------------------
# Editor
# -----------------------------
.vscode/
.idea/

# -----------------------------
# TypeScript
# -----------------------------
*.tsbuildinfo

# -----------------------------
# Misc
# -----------------------------
*.zip
*.tgz

# -----------------------------
# Local Config
# -----------------------------
*.local
